.stack {
  display: flex;
  flex-wrap: nowrap;
}
.stack-horizontal {
  flex-direction: row;
  column-gap: var(--stack-spacing);
}
.stack-vertical {
  flex-direction: column;
  row-gap: var(--stack-spacing);
}
.stack-vertical.stack-start {
  align-items: flex-start;
}
.stack-vertical.stack-center {
  align-items: center;
}
.stack-vertical.stack-end {
  align-items: flex-end;
}
.stack-vertical.stack-stretch {
  align-items: stretch;
}
.stack-horizontal.stack-start {
  justify-content: flex-start;
}
.stack-horizontal.stack-center {
  justify-content: center;
}
.stack-horizontal.stack-end {
  justify-content: flex-end;
}
.stack-horizontal.stack-stretch > * {
  flex: 1;
}
.stack-horizontal.stack-fallback > * + * {
  margin: 0 0 0 var(--stack-spacing);
}
.stack-vertical.stack-fallback > * + * {
  margin: var(--stack-spacing) 0 0 0;
}
