.stack {
  display: flex;
  flex-wrap: nowrap;
}
.stack-horizontal {
  flex-direction: row;
}
.stack-vertical {
  flex-direction: column;
}
.stack-vertical.stack-start {
  align-items: start;
}
.stack-vertical.stack-center {
  align-items: center;
}
.stack-vertical.stack-end {
  align-items: end;
}
.stack-vertical.stack-stretch {
  align-items: stretch;
}
.stack-horizontal.stack-start {
  justify-content: start;
}
.stack-horizontal.stack-center {
  justify-content: center;
}
.stack-horizontal.stack-end {
  justify-content: end;
}
.stack-horizontal.stack-stretch > * {
  flex: 1;
}

@supports (gap: 1px) {
  .stack-horizontal {
    column-gap: var(--stack-spacing);
  }
  .stack-vertical {
    row-gap: var(--stack-spacing);
  }
}
@supports not (gap: 1px) {
  .stack-horizontal > * + * {
    margin: 0 0 0 var(--stack-spacing);
  }
  .stack-vertical > * + * {
    margin: var(--stack-spacing) 0 0 0;
  }
}
